<template>
  <view class="container">
    <text class="text-color-primary">My Vue Native App</text>
    <button
      :on-press="startVibrating"
      title="Vibrar"
      color="#841584"
      accessibility-label="Learn more about this purple button"
    />

  </view>
</template>

<script>

  import { Vibration } from 'react-native';

  export default {
    methods: {
      startVibrating: function() {

        console.log('aqui pueden comenzar a vibrar')
        this.vibrateByInterval(2000, 1000, 1);
        const self = this;
        setTimeout(function() {
          self.vibrateByInterval(10000, 0, 2);
        }, 8000);
        alert('Vibra 2 segundos, luego 10' )
      },
      vibrateByInterval(interval, timeout, vez) {
        console.log('entro en la segunda funcion por', vez)
        setTimeout(function () {
          console.log('espero e inicio');
          Vibration.vibrate(interval);
        }, timeout);
        console.log('termino la segunda funcion')
      }
    }
  }
</script>

<style>
.container {
  background-color: white;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.text-color-primary {
  color: blue;
}
</style>
